.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0 16px;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid var(--nav-border-color);
}

.navbar .nav-links {
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

@media(max-width: 1223px) {
  .navbar .nav-links{
    gap: 40px;
  }
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar button {
  color: var(--text-color);
  background-color: transparent;
  padding: 4px;
}

.hamburger {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Sidebar (hidden by default) */
.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #333;
  color: white;
  padding-top: 60px;
  transition: left 0.3s;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  background: #444;
}

@media (max-width: 768px) {
  .nav-links {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
  body.menu-open .sidebar {
    left: 0;
  }
}

.theme-switch svg {
  width: 50px;
  height: auto;
  color: var(--text-color);
}

.theme-switch svg:hover, .navbar a:hover {
  color: var(--hover-color);
  cursor: pointer;
  transition: 0.1s;
}

.brand {
  padding-left: 20px;
}

.brand img {
  width: 90px;
}

.user-info {
  display: flex;
  flex-direction: column;
  font-size: small;
  padding-left: 8px;
  margin-left: 12px;
  border-left: 8px solid var(--highlight-color);
}

.user-info p, .user-info a {
  margin: 2px;
}

.user-info p {
  opacity: 50%;
}

.left-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.material-symbols-outlined {
  color: var(--highlight-color)
}

