.auth-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 24px;
  background: transparent;
  backdrop-filter: blur(110px);
  border: 1px solid var(--nav-border-color);

  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  color: var(--text-color);
}

h1 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 1.8rem;
}

button {
  width: 100%;
  padding: 10px;
  background: var(--highlight-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: var(--hover-color);
  transition: 0.4s;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.info-link {
  text-align: center;
  margin-top: 12px;
}

.info-link a {
  color: var(--hover-color);
  text-decoration: none;
}
