<div class="project-dashboard-container" *ngIf="project">

  <div class="secret-row" *ngIf="regeneratedSecret">
    <span>New secret key: </span>
    <span class="secret-value">
      {{ regeneratedSecret | slice:0:20 }}...
    </span>
    <button type="button" class="copy-button" (click)="copyNewSecret(regeneratedSecret)">
      Copy
    </button>
  </div>


  <div class="delete-project-row" *ngIf="deleteProjectConfirmation">
    <div class="delete-project-title-box">
      <h3>Delete this project</h3>
    </div>
    <app-info-block [data]="deletionResultData"></app-info-block>
    <form  #deleteForm="ngForm" class="delete-form">
      <div class="input-div">
        <label>Enter your password: </label>
        <input type="password" name="password" [(ngModel)]="deleteConfirmationData.password" required #password="ngModel"
               [ngClass]="{
               'valid': password.valid && (password.dirty || password.touched),
               'invalid': password.invalid && (password.dirty || password.touched)
          }"
        >
      </div>
      <div class="input-div">
        <label>Project secret: </label>
        <input type="text" name="secretKey" [(ngModel)]="deleteConfirmationData.secretKey" required #secretKey="ngModel"
               [ngClass]="{
               'valid': secretKey.valid && (secretKey.dirty || secretKey.touched),
               'invalid': secretKey.invalid && (secretKey.dirty || secretKey.touched)
          }"
        >
      </div>
      <div class="delete-action">
        <button [disabled]="deleteForm.invalid" type="button" class="ghost-btn" (click)="deleteProjectConfirm(deleteConfirmationData)">
          Confirm
        </button>
        <button type="button" class="ghost-btn" (click)="cancelDelete()">
          Cancel
        </button>
      </div>
    </form>
  </div>

  <!-- PROJECT INFO -->
  <section class="project-data-block">
    <div>
      <p class="title-description">PROJECT NAME</p>
      <h1 class="project-title">{{project.name}}</h1>

      <p class="title-description">PROJECT DESCRIPTION</p>
      <p class="project-subtitle">{{project.description}}</p>

      <div class="project-action">
        <button class="ghost-btn" (click)="copyProjectKey()">Copy Project Key</button>
        <button class="ghost-btn" (click)="regenerateSecret(projectKey)">Regenerate Project Secret</button>
        <button class="ghost-btn-delete" (click)="deleteProject()">Delete Project</button>
      </div>
    </div>

    <div class="info-card">
      <h3>User Schema</h3>
      <p class="schema">{{project.user_schema | json }}</p>
    </div>
  </section>

  <!-- API DOCS -->
  <section class="project-data-block api-docs">
    <h1 class="project-title">API DOCS</h1>

    <div class="api-card">
      <h3>Register User</h3>
      <p class="title-description">POST /api/registerUser</p>

      <p class="title-description">Request</p>
      <pre class="code-block">
        {{registerUserRequest | json}}
      </pre>

      <p class="title-description">Response</p>
      <pre class="code-block">
        {{registerUserResponse | json}}
      </pre>

    </div>

    <div class="api-card">
      <h3>Login User</h3>
      <p class="title-description">POST /api/loginUser</p>

      <p class="title-description">Request</p>
      <pre class="code-block">
        {{loginUserRequest | json}}
      </pre>

      <p class="title-description">Response</p>
      <pre class="code-block">
        {{loginUserResponse | json}}
      </pre>
    </div>

    <div class="api-card">
      <h3>Verify Token</h3>
      <p class="title-description">POST /api/verifyToken</p>

      <p class="title-description">Request</p>
      <pre class="code-block">
        {{verifyUserRequest | json}}
      </pre>

      <p class="title-description">Response</p>
      <pre class="code-block">
        {{verifyUserResponse | json}}
      </pre>
    </div>
  </section>
</div>
