<div *ngIf="project" class="project-card">
  <div class="project-info">
    <p class="title-description">PROJECT NAME</p>

    <h1 class="project-title">{{project.name}}</h1>

    <p class="project-subtitle">
      {{project.description}}
    </p>

    <ul class="meta">
      <li>Created: {{project.created_at | date : 'dd.MM.yyyy | hh:mm'}}</li>
      <li>UUID: {{project.project_key}}</li>
    </ul>
  </div>

  <div class="project-actions">
    <a class="btn primary" [routerLink]="['/dashboard', project.project_key]">Dashboard</a>
    <a class="btn" href="#">Manage Users</a>
    <a class="btn" href="#">Docs</a>
  </div>
</div>
