<div class="project-card">
  <div class="project-info">
    <p class="title-description">PROJECT NAME</p>

    <h1 class="project-title">KAYO WEB STORE</h1>

    <p class="project-subtitle">
      Description for Kayo web store project. Description for Kayo web store project.
      Description for Kayo web store project. Description for Kayo web store project.
    </p>

    <ul class="meta">
      <li>Created: 29.08.2025</li>
      <li>Users: 21</li>
    </ul>
  </div>

  <div class="project-actions">
    <a class="btn primary" href="#">Dashboard</a>
    <a class="btn" href="#">Manage Users</a>
    <a class="btn" href="#">Docs</a>
  </div>
</div>
